<app-smallbanner></app-smallbanner>

<br><br>
<div class="row align-items-center site-hero-inner justify-content-center text-dark">
  <h1>{{details['campaignName']}}</h1>
</div>
<br>
<div class="row align-items-center site-hero-inner justify-content-center text-dark">
    <p style="font-size:20px">{{details['campaignDescription']}}</p>
</div>

<div class="row align-items-center site-hero-inner justify-content-center text-dark">
    <p style="font-size:20px"><strong>Balance: </strong>{{details['educoinBalance']}} EDC<br></p>
    
</div>
<div class="row align-items-center site-hero-inner justify-content-center text-dark">
    <p style="font-size:20px"><strong>Funding goal: </strong>{{details['fundingGoal']}} EDC</p >
</div>
<div *ngIf = "details['completed']==false" class="row align-items-center site-hero-inner justify-content-center">
    <input  type="submit" (click)="addMission();" value="Add mission" class="btn btn-primary"> 
</div>

<!-- MISSIONS -->
<div class="container">
    <h1 style="color:#007bff; font-family: 'Monoton', cursive;">Missions</h1>
  <section class="school-features text-dark " >
    <div class="inner"  >
      <div *ngFor="let mission of missions" class="media d-block feature" >
        <div class="media-body">
            <h3  class="mt-0">{{mission['missionName']}} </h3>
            <p><strong>Description:</strong> {{mission['missionDescription']}}<br>
               <strong>Maximum educoin:</strong> {{mission['educoin']}} EDC<br>
              <strong>Bonus:</strong> {{mission['bonusEducoin']}} EDC<br>
              <strong>Mentor fare:</strong> {{mission['mentorFare']}} EDC<br>
              <strong>Maximum students:</strong> {{mission['maxStudents']}}</p>
            <p *ngFor="let activity of mission['activities']">
              <strong>{{activity['name']}}</strong> <br>
              {{activity['description']}}<br>{{activity['educoin']}} EDC
            </p>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- MISSION CONTRACTS  -->
<section class="site-section">
    <div class="container">
        <h1 style="color:#007bff; font-family: 'Monoton', cursive;"><br>Contracts</h1>
      <section class="school-features text-dark " >
        <div class="inner"  >
          <ng-container *ngFor="let mission of missions">
            <div  class="media d-block feature" *ngIf="mission['contracts']" >
                <ng-container *ngFor="let contract of mission['contracts']">
                  <div class="media-body">
                      <h3  class="mt-0">{{mission['missionName']}} </h3>
                      <p><strong>Student email:</strong><br>{{contract['student'].split('#')[1]}}<br>
                      <p><strong>Due date:</strong><br>{{contract['dueDate'].slice(0,10)}}</p>
                      <ng-container *ngIf="contract['submissionDate']">
                        <p><strong>Submission Date:</strong><br> {{contract['submissionDate'].slice(0,10)}}</p>
                        <p><strong>Attachments:</strong>
                          <body *ngFor="let filename of contract['filenames']; let i=index">
                           <strong><u>
                             <a style="color:#007bff" (click)="download( filename, contract['attachments'][i])">{{filename}}</a>
                            </u></strong>
                          </body>
                        </p>
                        <div *ngIf="contract['completed']==false; else other_content">
                            <input type="submit" (click)="evaluateMission(mission, contract['missionContractId'])" value="Evaluate" class="btn btn-primary">
                        </div>
                        <ng-template #other_content>
                          <p><strong>Educoin:</strong><br>{{contract['earnedEducoin']}} EDC</p>
                        </ng-template>
                      </ng-container>
                  </div>
                </ng-container>
            </div>
        </ng-container>
        </div>
      </section>
    </div>
</section>







<app-footer></app-footer>
