<app-smallbanner></app-smallbanner>
<!-- ACTIVITY section -->

<div class="row align-items-center site-hero-inner justify-content-center">
    <h1><br><br>Our Activities</h1>
</div>
<section class="site-section">
    <div class="container">
      <section class="school-features text-dark d-flex" >
        <div class="inner"  >
          <div *ngFor="let activity of activities" class="media d-block feature" >
            
            <div class="media-body">
              <h3  class="mt-0">{{activity['activityName']}} </h3>
              <p><strong>Description:</strong> {{activity['description']}}<br>
                 <strong>Maximum educoin:</strong> {{activity['educoin']}} EDC<br>
                <strong>Bonus:</strong> {{activity['bonusEducoin']}} EDC<br>
                <strong>Maximum students:</strong> {{activity['maxStudents']}}<br>
                <strong>Campaign:</strong> {{activity['campaignName']}}</p>
              <p *ngFor="let assignment of activity['assignments']">
                <strong>{{assignment['name']}}</strong> <br>
                {{assignment['description']}}<br>{{assignment['educoin']}} EDC
              </p>
              <!-- to be changed with if(student)-->
              <div *ngIf = "participantType=='Student'">
                  <input type="submit" (click)="enrollStudent(activity['activityId'])" value="Enroll" class="btn btn-primary">
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <!-- END section -->
  <app-footer></app-footer>
