<div *ngIf="step==0" class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 box">
           
                <p>Enter activity details</p>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <input class="form-control"  formControlName="activityName" placeholder="Name" >
                        </div>
                        <div class="col-md-8 form-group">
                            <textarea class="form-control"  formControlName="activityDescription" placeholder="Enter description..."></textarea>
                        </div>
                        <div class="col-md-8 form-group">
                            <label>Is that the last activity of this campaign?</label><br>
                            <input type="radio" formControlName="completeCampaign" [value]="true" ><label> Yes</label><br>
                        
                            <input type="radio" formControlName="completeCampaign" [value]="false" ><label> No</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input class="form-control"  formControlName="bonusEducoin" placeholder="Bonus educoin" >
                        </div>
                        <div class="col-md-8 form-group">
                            <input class="form-control"  formControlName="maxStudents" placeholder="Max students" >
                        </div>
                    </div>
                    <div class="col-md-8 form-group">
                        <button class="btn btn-primary"
                                (click)="close()" >
                            Back
                        </button>
                        <button class="btn btn-primary"
                                (click)="next()"  style="float: right;">
                            Next
                        </button> 
                    </div>
                </form>
            
        </div>
    </div>
</div>

<div *ngIf="step==1" class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 box">
               
                    <p>Add activity assignments</p>
                    <form [formGroup]="form">
                        <div *ngFor='let in of counter(numAss) ;let i = index' class="row">
                            <div class="col-md-3 form-group">
                                <input class="form-control"  formControlName="assignmentNames" placeholder="Name" >
                            </div>
                            <div class="col-md-3 form-group">
                                <input class="form-control"  formControlName="assignmentDescriptions" placeholder="Enter description...">
                            </div>
                            <div class="col-md-3 form-group">
                                <input class="form-control"  formControlName="assignmentCosts" placeholder="Educoin" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <button class="btn btn-primary"
                                        (click)="close()" >
                                    Back
                                </button>
                            </div>
                            <div class="col-md-3 form-group">
                                <button class="btn btn-primary"
                                (click)="newAss()" style="float: center;">
                                        +
                                </button>
                            </div>
                            <div class="col-md-3 form-group">
                                <button class="btn btn-primary"
                                        (click)="save()"  style="float: right;">
                                    Save
                                </button> 
                            </div>
                        </div>
                    </form>
                
            </div>
        </div>
    </div>

