<footer class="site-footer" style="background-image: url(assets/big_image_3.jpg);">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="row">
          <div class="col-md-4">
           
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
             
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><a routerLink="/about" >About Us</a></li>
              <li><a routerLink="/home" >Home</a></li>
              <li><a routerLink="/campaigns" >Campaigns</a></li>
              <li><a routerLink="/activities" >Activities</a></li>
              <li><a routerLink="/marketplace" >Market Place</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</footer>
<!-- END footer -->

<!-- loader -->
<!--div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div-->
