<app-smallbanner></app-smallbanner>

<!-- SIGN UP PART -->
<section *ngIf="!authenticated">
  <a href="http://localhost:3000/auth/google">Sign in with Google</a>
</section>
<!-- End Signup -->


<!-- LOGIN FORM -->
<section *ngIf="authenticated && !loggedIn" class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 box">
        <form [formGroup]="userForm">
          
          <div class="row">
            <div class="col-md-12 form-group">
              <label>Register as</label>
              <select input formControlName="participant" class="form-control ">
                <option *ngFor="let p of participants" [value]="p">{{p}}</option>
              </select>
            </div>
            <div class="col-md-12 form-group">
              <label>First name</label>
              <input formControlName="firstName" class="form-control ">
            </div>
            <div class="col-md-12 form-group">
              <label>Last name</label>
              <input formControlName="lastName" class="form-control ">
            </div>
            <div class="col-md-12 form-group">
              <label>Email Address</label>
              <input formControlName="email" class="form-control ">
            </div>
          
            
          </div>
          
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="submit" (click)="newUser();" value="Sign up" class="btn btn-primary">
            </div>
          </div>
         </form>
      </div>
    </div>
  </div>
</section>
<!-- END login form -->


<app-footer></app-footer>