
<app-banner></app-banner>


<section class="school-features d-flex" style="background-image: url(assets/big_image_3.jpg);">
  <div class="inner">
    <div class="media d-block feature">
      <div class="icon"><span class="flaticon-interface"></span></div>
      <div class="media-body">
        <h3 class="mt-0">Do you want to be a donor?</h3>
        <p>Fund one of the possible campaigns.</p>
      </div>
    </div>

    <div class="media d-block feature">
      <div class="icon"><span class="flaticon-student"></span></div>
      <div class="media-body">
        <h3 class="mt-0">Learn anywhere in the world</h3>
        <p>Are you a student? Enroll education activities and be rewarded for your work.</p>
      </div>
    </div>

    <div class="media d-block feature">
      <div class="icon"><span class="flaticon-book"></span></div>
      <div class="media-body">
        <h3 class="mt-0">Are you a professor?</h3>
        <p>Help students to succeed in their goals and be rewarded.</p>
      </div>
    </div>


    <div class="media d-block feature">
      <div class="icon"><span class="flaticon-education"></span></div>
      <div class="media-body">
        <h3 class="mt-0">Are you an organization?</h3>
        <p>Register and add your campaign. Just encourage education!</p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<!-- Student review -->
<section class="overflow">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      
      
      <div class="col-lg-7 order-lg-3 order-1 mb-lg-0 mb-5">
        <img src="../../assets/person_testimonial_1.jpg" alt="Image placeholder" class="img-md-fluid">
      </div>
      <div class="col-lg-1 order-lg-2"></div>
      <div class="col-lg-4 order-lg-1 order-2 mb-lg-0 mb-5">
        <blockquote class="testimonial">
          &ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt nihil ab cumque molestiae commodi. &rdquo;
        </blockquote>
        <p>&mdash; John Doe, Certified ReactJS Student</p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->
<app-footer></app-footer>  