<app-smallbanner></app-smallbanner>

<!-- ITEMS section -->
<br><br><br>
<div class="row align-items-center site-hero-inner justify-content-center text-dark">
    <h1 style="color:#007bff; font-family: 'Monoton', cursive;">Our Items</h1>
</div>
<section class="site-section">
<div class="container">
  <section class="school-features text-dark " >
    <div class="inner"  >
      <ng-container *ngFor="let item of items">
        <!-- Only item whose owner is a vendor must be shown-->
        <div *ngIf="item['owner'].split('#')[0]=='resource:org.bfore.Vendor'" class="media d-block feature" >
          <div  class="media-body">
            <h3  class="mt-0">{{item['name']}} </h3>
            <p>
              <strong>Cost: </strong>{{item['cost']}} EDC<br>
              <strong>Description: </strong>{{item['description']}}
            </p>
            <div>
              <input [disabled]="participantType!='Student'" type="submit" (click)="buyItem(item['itemId']);" value="Buy it" class="btn btn-primary">
            </div>
          </div>
        </div>
    </ng-container>
    </div>
  </section>
</div>
</section>
<!-- END section -->

<app-footer></app-footer>