<app-smallbanner></app-smallbanner>
<!-- MENTORS section -->

<br><br><br>
<div class="row align-items-center site-hero-inner justify-content-center text-dark">
    <h1 style="color:#007bff; font-family: 'Monoton', cursive;">Our Mentors</h1>
</div>
<section class="site-section">
  <div class="container">
    <section class="school-features text-dark" >
      <div class="inner"  >
        <ng-container *ngFor="let mentor of mentors">
          <div class="media d-block feature" >
            <div class="media-body">
              <h3 >{{mentor['firstName']}} {{mentor['lastName']}}</h3>
              <p>{{mentor['reviewCount']}} review(s) <br>
              <ng-container *ngIf="mentor['reviewCount']!=0">
                <p><strong>Score:</strong> {{mentor['reviewSum'] / mentor['reviewCount']}}
                <br>
              </ng-container>
              <p *ngFor="let review of mentor['reviews']">
                <strong>{{review['title']}}</strong> <br>
                {{review['description']}}<br>Score: {{review['score']}}
              </p>
            </div>
          </div>
          
      </ng-container>
      </div>
    </section>
  </div>
</section>
<!-- END section -->


<app-footer></app-footer>