<app-smallbanner></app-smallbanner>
<!-- CAMPAIGN section -->
<br><br><br>
<div class="row align-items-center site-hero-inner justify-content-center">
  <h1 style="color:#007bff; font-family: 'Monoton', cursive;">Our Campaigns</h1>
</div>

<section class="site-section">
  <div class="container">
    <section class="school-features text-dark" >
      <div class="inner"  >
        <!-- Only completed campaigns must be shown -->
        <ng-container *ngFor="let campaign of campaigns">
          <div class="media d-block feature" *ngIf="campaign['completed']==true" >
            <div class="media-body">
              <!-- firstName has to be changed with name -->
              <!-- and description has to be added-->
              <h3>{{campaign['campaignName']}}</h3>
              <p>
                <strong>Funding goal:</strong> {{campaign['fundingGoal']}} EDC<br>
                <strong>Description: </strong>{{campaign['campaignDescription']}}<br>
                <strong>Balance:</strong> {{campaign['educoinBalance']}} EDC
              </p>
              <div>
                <input [disabled]="participantType==undefined || participantType!='Donor' || campaign['funded']==true" type="submit" (click)="fundCampaign(campaign['campaignName'], campaign['email'], campaign['fundingGoal'], campaign['educoinBalance'])" value="Fund it" class="btn btn-primary">
              </div>
              <div *ngIf="campaign['funded']==true">
                <img src="../../assets/funded.png" alt="funded">
              </div>
            </div>
          </div>
          
      </ng-container>
      </div>
    </section>
  </div>
</section>
<!-- END section -->


<app-footer></app-footer>