<app-smallbanner></app-smallbanner>
<!-- CAMPAIGN section -->

<div class="row align-items-center site-hero-inner justify-content-center">
    <h1><br><br>Our Campaigns</h1>
</div>

<section class="site-section">
  <div class="container">
    <section class="school-features text-dark d-flex" >
      <div class="inner"  >
        <!-- Only completed campaigns must be shown -->
        <ng-container *ngFor="let campaign of campaigns">
          <div class="media d-block feature" *ngIf="campaign['completed']==true" >
            <div  class="media-body">
              <!-- firstName has to be changed with name -->
              <!-- and description has to be added-->
              <h3  class="mt-0">{{campaign['campaignName']}}</h3>
              <p><strong>Funding goal:</strong> {{campaign['fundingGoal']}} EDC</p>
              <p >{{campaign['campaignDescription']}}</p>
              <p><strong>Balance:</strong> {{campaign['educoinBalance']}} EDC</p>
              <!-- to be changed with if(donor)-->
              <div *ngIf = "1==true">
                <input type="submit" (click)="fundCampaign(campaign['firstName'], campaign['email'])" value="Fund it" class="btn btn-primary">
              </div>
            </div>
          </div>
      </ng-container>
      </div>
    </section>
  </div>
</section>
<!-- END section -->


<app-footer></app-footer>