<header role="banner">   
    <nav class="navbar navbar-expand-md navbar-dark bg-light">
      <div class="container">
        <a class="navbar-brand absolute" href="index.html">Blockchain4Education</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="nav-link active"  >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/campaigns" routerLinkActive="nav-link active">Campaigns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/activities" routerLinkActive="nav-link active">Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/about" routerLinkActive="nav-link active">About</a>
            </li>
          </ul>
          <ul class="navbar-nav absolute-right">
            <li class="nav-item">
              <a (click)="registerLogout();" class="nav-link">{{login}}</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </header>
  <!-- END header -->
  <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(assets/big_image_1.jpg);">

  </section>
  <!-- END section -->